/* Gombok */
.btn-1 {
  color: white;
  background: none;
  padding: 5px;
  border: none;
}

.btn-1:hover {
  color: yellow;
}

/* Fejléc és színek */
.header-color {
  background-color: rgba(36, 41, 67, .8666666667);
}

.text-color {
  color: white;
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Reszponzív stílus a kisebb eszközökre */
@media (max-width: 767.98px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  .d-flex {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .text-end {
      margin-top: 1rem;
  }
}

/* Központi tartalom beállítások */
.hero-container {
  background-color: rgb(255, 238, 214);
  flex: 1; /* A maradék helyet kitölti */
  text-align: center;
  overflow: hidden;
  padding-top: 50px; /* Felső margó hozzáadása, hogy ne legyen túl közel a fejléchez */
}

/* Test és görgetősáv eltávolítása */
body {
  margin: 0; /* Böngésző alapértelmezett margójának eltávolítása */
  overflow: hidden; /* Görgetősáv eltávolítása */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Teljes magasság */
}

/* Lábjegyzet (footer) */
.footer-container {
  background-color: rgb(255, 238, 214);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* Checkbox formázás */
.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Közötti térköz egy sorban */
  margin-bottom: 15px; /* Hézag az egyes checkboxok és label-ek között */
  width: 100%;
}

.form-check input {
  margin-left: 15px; /* A checkbox és a szöveg közötti térköz */
  transform: scale(1.2); /* A checkbox méretének növelése */
}

.form-check label {
  text-align: left;
  font-size: 18px; /* A szöveg méretének növelése */
  flex-grow: 1; /* A label töltse ki a rendelkezésre álló helyet */
}

.checkbox-column {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Balra igazítás az oszlopban */
  padding: 0 15px; /* Egy kis padding, hogy ne legyen túl közel az oszlopokhoz */
}

.row {
  display: flex;
  justify-content: center; /* Középre igazítja a két oszlopot */
  margin-top: 20px; /* A két oszlop közötti távolság */
  gap: 50px; /* Hézag a két oszlop között */
  max-width: 900px; /* Maximális szélesség, hogy ne nyújtózkodjanak túl szélesen */
  margin-left: auto;
  margin-right: auto;
}
